<footer>
  <div class="flex-container">
    <div>
      <!-- TODO: have jekyl build link -->
      <a href="/about">Aaron Anthony</a>
      <br>
      <small>Think Global, Act Local</small>
    </div>

    <div>
      <small>© 2022 All Rights Reserved.</small>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
