$swBlue: #1C57C9;

body {
  font-family: 'Balsamiq Sans', cursive;
  color: #fff;
  background-color: #222;
  padding-top: 97px; /*TODO: for z nav bar*/
}

a {
  color: white;
  font-size:22px;

  &.hover {
    color: hotpink; //FIXME: not working in footer
  }
}

img {
  border-radius: 4px;
  //img scaling
  max-width: 100%;
  height: auto;
}
