$swBlue: #1C57C9;
$bgColor: #222;
$fontColor: #fff;

body {
  font-family: 'Balsamiq Sans', cursive;
  color: $fontColor;

  background-color: $bgColor;

  margin-top: 97px; /*TODO: for z nav bar*/
}

a {
  font-size: 1.5rem;
  &.link {  //unvisited
    color: red;
  }
  &.visted {
    color: green;
  }
  &.hover {
    color: hotpink; //FIXME: not working in footer
  }
  &.active {  //selected
    color: $fontColor;  //doesn't seem to be working
  }
}

img {
  border-radius: 4px;
  //img scaling
  max-width: 100%;
  height: auto;
}

//https://css-tricks.com/snippets/css/a-guide-to-flexbox/
flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer {
  background-color: $swBlue;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;

  div {
    padding: 9px; //TODO: not sure about this used in footer
  }
}

//https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

site-content {
  flex: 1;
}
